{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>YandyTech</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/yandyicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/yandyicon.png' %}" rel="apple-touch-icon">
  
<!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/w3.css' %}" rel="stylesheet">
  
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">
      <a href="{% url 'home' %}"><img src="{% static 'assets/img/yt.png' %}" height="70px" alt=""></a>
      <!-- <h1 class="logo"><a href="{% url 'home' %}">YandyTech</a></h1> -->
      

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="{% url 'about' %}">About</a></li>
          <li><a class="nav-link scrollto" href="#featured-services">Resources</a></li>
          <li><a class="nav-link scrollto" href="{% url 'blog' %}">Blog</a></li>
          <li><a class="nav-link scrollto" href="{% url 'hire' %}">Hire</a></li>
          <li><a class="getstarted scrollto" href="{% url 'support' %}" >Support Us</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1><span style="color: teal;">Community for Decent</span> Jobs and Economic Growth Opportunities</h1>
          <h4>Access digital skills, jobs, scholarships, fellowship, workshops, and other life-changing opportunities that match your skills.</h4>
          <div class="d-flex">
            <a href="#about" class="w3-hover-teal btn-get-started scrollto">Join Us</a>

          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="{% static 'assets/img/hero-img.png' %}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="icon-box">
              <div class="icon"><img src="{% static 'assets/img/icons/job.png' %}" width="50px"></div>
              <h4 class="title"><a href="{% url 'job' %}">Jobs Lab</a></h4>
              <p class="description">Access job opportunities that match your skills. full time, part time ,onsite, or remote roles.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><img src="{% static 'assets/img/icons/scholarship.png' %}" width="50px"></i></div>
              <h4 class="title"><a href="{% url 'scholarship' %}">Scholarships</a></h4>
              <p class="description">Scholarships for universities, bootcamps, and online courses.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><img src="{% static 'assets/img/icons/discussion.png' %}" width="50px"></i></div>
              <h4 class="title"><a href="{% url 'fellowship' %}">Fellowship</a></h4>
              <p class="description">Have access to fellowship opportunities to help fine-tune your professional development</p>
            </div>
          </div>
        </div>

<br>

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="icon-box">
              <div class="icon"><img src="{% static 'assets/img/icons/event.png' %}" width="50px"></i></div>

              <h4 class="title"><a href="{% url 'events' %}">Events</a></h4>
              <p class="description">Enjoy first hand notifications on credible global conferences, seminars, workshops, hackathons, and meetups. </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><img src="{% static 'assets/img/icons/tracks.png' %}" width="50px"></i></div>
              <h4 class="title"><a href="{% url 'track' %}">Learn Digital skills </a></h4>
              <p class="description">Want to change the world one step at a time ? Get access to our courses & programmes that will prepare you for the future jobs.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><img src="{% static 'assets/img/icons/communities.png' %}" width="50px"></div>
              <h4 class="title"><a href="{% url 'community' %}">Community</a></h4>
              <p class="description">Join our community to connect with experts in development, tech and access opportunities at your confort zone</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Featured Services Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <img src="{% static 'assets/img/interview.png' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content"> 
            <br> 
            <br>
            <br>
            <br>
        
            <h3>In the past years, we have introduced hundreds of young people to tech, decent jobs and  economic growth opportunities that have changed their lives.
            </h3>
            <br> 
            <!-- ======= Counts Section ======= -->
            <section id="counts" class="counts">
              <div class="container">

                <div class="row counters">

                  <div class="col-lg-4 col-4 text-center">
                    <span style="font-size: 30px; color: teal;"><b>10k+</b></span>
                    <p style="font-size: 20px;"> <b> Community Members </b></p>
                  </div>

                  <div class="col-lg-4 col-4 text-center">
                    <span style="font-size: 30px; color: teal;"><b>500k+</b></span>
                    <p style="font-size: 20px;"> <b>Lives Impact </b></p>
                  </div>

                  <div class="col-lg-4 col-4 text-center">
                    <span style="font-size: 30px; color: teal;"><b>1.2m+</b></span>
                    <p style="font-size: 20px;"> <b>Reach</b></p>
                  </div>

                </div>

              </div>
            </section><!-- End Counts Section -->


    
    </section><!-- End About Section -->


<!-- ======= Testimonials Section ======= -->
<section id="counts" class="counts">
  <div class="container">

    <div class="section-title">
      <h2 style="color: teal; text-align: left;"><b>Our work has been <br> recognised &amp; supported by <br> these organisations</b></h2>

    </div>

    <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="testimonial-item">
           
            <a href="https://www.britishcouncil.org.ng/blog/thanks-you-mohammed-bayero-yayandi"><img src="{% static 'assets/img/british.png' %}" class="testimonial-img" alt="" width="80%"></a>
           
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
           
            <a href="http://www.connecteddevelopment.org/"><img src="{% static 'assets/img/code.jpeg' %}" class="testimonial-img" alt="" width="80%"></a>
           
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item w3-center">
            <a href="https://www.beccadiaries.com/2020/06/24/meet-yayandi-of-africa-a-tech-community-builder/"><img src="{% static 'assets/img/becca.png' %}" class="testimonial-img" alt="" width="40%"></a>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <a href="https://techibytes.com/yayandi-making-difference-in-nigeria-tech-ecosystem/"><img src="{% static 'assets/img/techibytes.jpg' %}" class="testimonial-img" alt="" width="80%"></a>
          </div>
        </div><!-- End testimonial item -->

       

        <div class="swiper-slide">
          <div class="testimonial-item">
            <a href="https://riseuptogether.org/mohammed-bayero-yayandi/"><img src="{% static 'assets/img/rise.png' %}" class="testimonial-img" alt="" width="80%">
          </div>
        </div><!-- End testimonial item -->


        <div class="swiper-slide">
          <div class="testimonial-item">
            <a href="#"><img src="{% static 'assets/img/north.jpg' %}" class="testimonial-img" alt="" width="90%"></a>
          </div>
        </div><!-- End testimonial item -->


        <div class="swiper-slide">
          <div class="testimonial-item">
            <a href="#"><img src="{% static 'assets/img/asisd.jpg' %}" class="testimonial-img w3-center" alt="" width="40%"></a>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <a href="#"><img src="{% static 'assets/img/bfp.jpg' %}" class="testimonial-img" alt="" width="40%"></a>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <a href="https://www.utiva.io/"><img src="{% static 'assets/img/utiva.png' %}" class="testimonial-img" alt="" width="60%"></a>
          </div>
        </div><!-- End testimonial item -->

      </div>
      <div class="swiper-pagination"></div>
    </div>

  </div>
</section>
<!-- End Testimonials Section -->


<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials section-bg">
  <div class="container">

    <div class="section-title">
      <h2 style="color: teal;"><b> What our Community are saying</b> </h2>
    </div>

    <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Hi guys, joining YandyTech has changed my life. It's boosted my capacity in facing all types of interviews and also boosted my knowledge academically, morally and many more.YandyTech to the world ✌️.
              Thank you @YandyTech
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="{% static 'assets/img/testimonials/isah.jpg' %}" class="testimonial-img" alt="">
            <h3>Isah Saidu Bawa</h3>
            <h4>Teacher &amp; Entrepreneur</h4>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              @YandyTech is your best plug for opportunity and access to experienced people that can guide you in winning applications!

              Congratulations @iskid_ and other amazing people that have since leveraged the opportunities to set themselves on trajectory for success! @hackyayandy
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="{% static 'assets/img/testimonials/yazid.jpg' %}" class="testimonial-img" alt="">
            <h3>Yazid S. Mikail</h3>
            <h4> Climate Activist &amp; Data Scientist</h4>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              From applying for a volunteering role at Jobberman, I got the opportunity at @YandyTech WhatsApp platform. I just received a contract letter after a rigorous interview plus assessment test. I will be serving as an M & E volunteer by next month Inshallah. Thank you @hackyayandy
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="{% static 'assets/img/testimonials/fatima.jpg' %}" class="testimonial-img" alt="">
            <h3>Fatima Muftau </h3>
            <h4>Volunteer</h4>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Hey guys, YandyTech has supported me to grow my career in Measurement and Evaluation by providing me with different opportunities for learning and growing in the Development world. I am very grateful to @YandyTech & @hackyayandy they are doing a good job out there...Gracias😎
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="{% static 'assets/img/testimonials/hassana.jpeg' %}" class="testimonial-img" alt="">
            <h3>Hassana Mustapha</h3>
            <h4>Monitoring and Evaluation Intern</h4>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Today I appreciate everything being in a resourceful community like @YandyTech has done to my life 👇. Being a part of the community  founded by @hackyayandy has really changed my perspective about how I see a lot of things. @hackyayandy helped me in millions of ways in becoming the Sekinah we all know today. ❤❤
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="{% static 'assets/img/testimonials/sekina.jpeg' %}" class="testimonial-img" alt="">
            <h3>Sekinah Ibrahim</h3>
            <h4>Data Scientist &amp; CyberGirl</h4>
          </div>
        </div><!-- End testimonial item -->


      </div>
      <div class="swiper-pagination"></div>
    </div>

  </div>
</section>
<!-- End Testimonials Section -->


  </main><!-- End #main -->


  <!-- ======= Footer ======= -->
  <footer id="footer">



      <div class="container footer-top">

        <div class="row">

            <div class="col-lg-3 col-6">


                <h5> <b> Work with us </b> </h5>
                 <a href="{% url 'hire' %}">
                  <span>Hire</span>

                </a><br>
                <a href="https://www.patreon.com/yandytechcommunity ">
                  <span>Become a patron</span>

                </a><br>
                <a href="{% url 'support' %}">
                  <span>Sponsor</span>

                </a><br>
                <a href="{% url 'job' %}">
                  <span>Jobs</span>

                </a><br>



            </div>
            <div class="col-lg-3 col-6 ">
              <div class="info_links">
                <h5> <b> Resources </b> </h5>

                    <a href="{% url 'job' %}">
                      <span>Job opportunities</span>

                    </a><br>

                    <a href="{% url 'fellowship' %}">
                      Fellowship
                    </a>
                    <br>
                    <a href="{% url 'scholarship' %}">
                    Scholarships
                    </a>
                    <br>
                    <a href="{% url 'events' %}">
                      Events
                    </a>
                    <br>
                    <a href="{% url 'track' %}">
                      Learn Digital Skills
                    </a>
                    <br>
                    <a href="{% url 'community' %}">
                      Community
                    </a>

              </div>
            </div>
            <div class="col-lg-3 col-6">

                <h5> <b> Contact Us </b> </h5>


                <a href="" class="">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                  <span>
                    3rd Floor Abdullahi Yaro House, Kaduna
                  </span><br>
                </a>
                <a href="" class="">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                  <span>
                    info@yandytech.org
                  </span><br>
                </a>
                <a href="" class="">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                  <span>
                    +234-8082328616
                  </span><br>
                </a>

                <a href="mailto:info@yandytech.org" class="">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                  <span>
                    Send us a message
                  </span>
                </a>

            </div>
            <div class="col-lg-3 col-6 ">
              <div class="info_form ">
                <h5> <b> Newsletter </b> </h5>


                <div class=" footer-newsletter justify-content-center">

                    <form action="" method="post">
                      <input type="email" name="email" placeholder="Enter your Email"><input type="submit" value="Subscribe">
                    </form>

                </div>


                <div class="social-links">
                  <a href="https://twitter.com/yandytech" class="twitter"><i class="bx bxl-twitter"></i></a>
                  <a href="https://facebook.com/yandytech1" class="facebook"><i class="bx bxl-facebook"></i></a>
                  <a href="https://instagram.com/yandytech" class="instagram"><i class="bx bxl-instagram"></i></a>
                  <a href="https://www.linkedin.com/company/yandytech-community/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                </div>


              </div>
            </div>
          </div>

          <hr>


          <div class="row">

              <div class="col-lg-6 col-6">
                <div class="copyright" style = "margin: auto">
                  &copy; Copyright <strong><span>YandyTech</span></strong>. All Rights Reserved
                </div>
              </div>

              <div class="col-lg-6 col-6" style="text-align: right">
                <a href= "{% url 'privacy' %}"> Privacy Policy <a href="{% url 'terms' %}"> Terms & Condition
              </div>

              </div>
      </div>



  </footer><!-- End Footer -->


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>
