


{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>YandyTech</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/icon1.png' %}" rel="icon">
  <link href="{% static 'assets/img/icon1.png' %}" rel="icon">
  
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/w3.css' %}" rel="stylesheet">
  
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="{% url 'home' %}"><img src="{% static 'assets/img/yt1.png' %}" height="70px" alt=""></a>
    

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="{% url 'home' %}">Home</a></li>
          <li><a class="nav-link scrollto" href="{% url 'about' %}">About</a></li>
          <li><a class="nav-link scrollto active" href="#featured-services">Resources</a></li>
          <li><a class="nav-link scrollto" href="{% url 'blog' %}">Blog</a></li>
          <li><a class="nav-link scrollto" href="{% url 'hire' %}">Hire</a></li>
          <li><a class="getstarted scrollto" href="{% url 'support' %}">Support Us</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
<main id="main">

  <!-- ======= Team Section ======= -->
  <section id="team" class="team section-bg">
    <div class="container">

      <div class="section-title">
        <br>
        <h2>Jobs Lab <br><span style="color: teal;">for sustainable economic growth</span></h2>
        <h5>A job lab where companies & organisations are transparent about their Salary, Culture & Inclusion</h5>
        <h6><b>Hiring? Post a Job &#8594</b></h6>
   <br>
   <button class="w3-btn w3-teal w3-border w3-round-large w3-hover-teal" style="margin-top:5px;"><a href="{% url 'job'  %}">All</a></button>
   {% for job in cat_menu %}

  
   <button class="w3-btn w3-white w3-border w3-round-large w3-hover-teal" style="margin-top:5px;"><a href="{% url 'category' job %}">{{job.name}}</a></button>
  
   
      {% endfor %}


      </div>




<br>
     

 
<div class="row">

        <div class="col-lg-9 col-md-9 col-sm-12 d-flex align-items-stretch" style="margin-top: 10px;">
          <div class="card w3-card" style="width:100%;margin: auto;">
            <div class="card-body">
              <div class="row">

                <div class="col-lg-1 col-md-2 col-sm-2 d-flex align-items-stretch">
                  <img src="{{ job.image_url|default_if_none:'#' }}" width="100%" height="100px" />
                </div>
        
        
        
        
                <div class="col-lg-11 col-md-6 col-sm-10  ">
                  <span><a href="{% url 'jobdetail' job.pk %}" style="text-decoration: underline;"><b>  {{job.position}}</b></a></span><br>
                <span>{{job.company}}</span><br>
                <span><a href="{% url 'category' job.category %}">{{job.category}}</a></span><br>
                <span><img src="{% static 'assets/img/remote1.png' %}" width="20px">{{job.location}}</span> &nbsp <span><img src="{% static 'assets/img/money.png' %}" width="12px">{{job.amount}}</span> &nbsp <span><img src="{% static 'assets/img/time3.png' %}" width="12px">{{job.deadline}}</span>
              <br><br>
              {% if job.number %}
               <span><img src="{% static 'assets/img/male.png' %}" width="15px">
                <img src="{% static 'assets/img/female.png' %}" width="15px">
                
                 {{job.number}} people in {{job.category}}
                 {% endif %}
                </span> 
                &nbsp 
                <span>
                  {% if job.women %}
                  <img src="{% static 'assets/img/female.png' %}" width="12px">
                  {{job.women}} women in {{job.category}}
                  {% endif %}
                </span>
        
        
        
        




            </div>
        </div>

<br><br>
        <div class="container">

{{job.description|safe}}
<br>
<br>
<a href="{{job.link}}"> <button type="submit" class="btn btn-primary" style = "background-color: teal"> Apply</button></a>
  

        </div>


        </div>
      </div>

    </div>

    <div class="col-lg-3 col-md-3 col-sm-12 d-flex" style="margin-top: 10px;">
    
      <div class="card w3-card" style="width:100%; height:200px;">
        <div class="card-body">
        <b>Be the first to know!</b>
        <br>
        <p>
          We'll let you know as soon as a job is posted on our job board
        </p>
        <br>
        <a href="" style="color: teal;">Subscribe</a>
        <br>
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-show-count="false" target="_blank">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
        <script type="IN/Share" data-url="http://127.0.0.1:8000/job/1"></script>

    

 



<a
    href="https://www.facebook.com/sharer/sharer.php?u=https://unclebigbay.hashnode.dev" 
    target="_blank"
    rel="noopener noreferrer"
>
   Facebook
</a>

  </div>
</section>

<!-- TWITTER SCRIPT-->
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
</div>
    
    
    
    
    
    
    </div>






    </div>

    
<br>



  </section><!-- End Team Section -->



   </main>

   https://unclebigbay.com/building-social-media-share-button-with-pure-html

   <!-- ======= Footer ======= -->
   <footer id="footer">

     <div class="footer-top">


     </div>

     <div class="container footer-bottom clearfix">
       <div class="copyright">
         &copy; Copyright <strong><span>YandyTech</span></strong>. All Rights Reserved
       </div>
       <div class="credits">
         <!-- All the links in the footer should remain intact. -->
         <!-- You can delete the links only if you purchased the pro version. -->
         <!-- Licensing information: https://bootstrapmade.com/license/ -->
         <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/enno-free-simple-bootstrap-template/ -->
       </div>
     </div>
   </footer><!-- End Footer -->



  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>
