{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    
     <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-K4DW5LJMJ4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-K4DW5LJMJ4');
</script>

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

 
  <!-- HTML Meta Tags -->
  <title>Support our Initiatives</title>
  <meta name="description" content="Help sponsor our courses, programs, events and initiatives to empower more African youth via a donation or more.">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://yandytech.org/support/">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Support our Initiatives">
  <meta property="og:description" content="Help sponsor our courses, programs, events and initiatives to empower more African youth via a donation or more.">
  <meta property="og:image" content="https://yandytech.org/static/assets/img/yt1.png">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="yandytech.org">
  <meta property="twitter:url" content="https://yandytech.org/support/">
  <meta name="twitter:title" content="Support our Initiatives">
  <meta name="twitter:description" content="Help sponsor our courses, programs, events and initiatives to empower more African youth via a donation or more.">
  <meta name="twitter:image" content="https://yandytech.org/static/assets/img/yt1.png">

  <!-- Meta Tags Generated via https://www.opengraph.xyz -->
        

  <!-- Favicons -->
  <link href="{% static 'assets/img/icon1.png' %}" rel="icon">
  <link href="{% static 'assets/img/icon1.png' %}" rel="icon">
  
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/w3.css' %}" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="{% url 'home' %}"><img src="{% static 'assets/img/yt1.png' %}" height="70px" alt=""></a>
      

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="{% url 'home' %}">Home</a></li>
          <li><a class="nav-link scrollto" href="{% url 'about' %}">About</a></li>
          <li><a class="nav-link scrollto" href="#featured-services">Resources</a></li>
          <li><a class="nav-link scrollto" href="{% url 'blog' %}">Blog</a></li>
          <li><a class="nav-link scrollto" href="{% url 'hire' %}">Hire</a></li>
          {% if user.is_authenticated %} 
          <li><a class="getstarted scrollto" href="{% url 'profile' %}" >{{user.username}}</a></li>
          {% else %}
          <li><a class="getstarted scrollto" href="{% url 'support' %}" >Support Us</a></li>
          {% endif %}
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
<main id="main">
<br>
<br>
  <!-- ======= About Section ======= -->

  <section id="about" class="about">
    <div class="container">

      <div class="row">
        
        <div class="col-lg-6 pt-4 pt-lg-0 content w3-center">
            <div class="section-title">
              
                <h2 style="color: teal;">Partner with Us
                </h2>
              </div>
          <p style="font-size: 18px;">Work hand-in-hand with us to achieve our goal of reaching more young people to get access to decent jobs and economic growth opportunities  in technology across Africa!

        </p>
          <br>
          <button class="w3-btn w3-teal w3-round-large w3-hover-teal" style="margin-top:5px;"><a href="mailto:partnership@yandytech.org">Get Started</a></button>

        </div>


        <div class="col-lg-6">
            <img src="{% static 'assets/img/partnership.png' %}" class="img-fluid" alt="">
          </div>
      </div>

    </div>
  </section><!-- End About Section -->
  
  
  <section id="about" class="about">
    <div class="container">

      <div class="row">
        <div class="col-lg-6">
          <img src="{% static 'assets/img/patron.png' %}" class="img-fluid" style="width: 80%;" alt="">
        </div>
        
 
        
        
        <div class="col-lg-6 pt-4 pt-lg-0 content w3-center">
            <div class="section-title">
              
                <h2 style="color: teal;">Become a Patron
                </h2>
              </div>
          <p style="font-size: 18px;">We support youth in Africa with resources to get digital skills, access to decent jobs and economic growth opportunities. Kindly support us by Joining our Paetron.
        

        </p>
          <br>
          <button class="w3-btn w3-teal w3-round-large w3-hover-teal" style="margin-top:5px;"><a href="https://www.patreon.com/yandytechcommunity">Become a Patron</a></button>

        </div>


        
      </div>

    </div>
  </section><!-- End About Section -->


  
  <section id="about" class="about">
    <div class="container">

      <div class="row">
        
        <div class="col-lg-6 pt-4 pt-lg-0 content w3-center">
            <div class="section-title">
              
                <h2 style="color: teal;">
                  Support our Initiatives
                </h2>
              </div>
          <p style="font-size: 18px;">Help sponsor our courses, programs, events and initiatives to empower more African youth  via a donation or more.<br>
           
        </p>
          <br>
          <button class="w3-btn w3-teal w3-round-large w3-hover-teal" style="margin-top:5px;"><a href="https://flutterwave.com/donate/tviv9lpo6q9w">Donate</a></button>

        </div>


        <div class="col-lg-6">
            <img src="{% static 'assets/img/donate.png' %}" class="img-fluid" alt="">
          </div>
      </div>

    </div>
  </section><!-- End About Section -->




  


  



   </main>


   <!-- ======= Footer ======= -->
   <footer id="footer">

     <div class="footer-top">


     </div>

     <div class="container footer-bottom clearfix">
       <div class="copyright">
         &copy; Copyright <strong><span>YandyTech</span></strong>. All Rights Reserved
       </div>
       <div class="credits">
        
       </div>
     </div>
   </footer><!-- End Footer -->


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

 <!-- Vendor JS Files -->
 <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
 <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
 <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
 <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
 <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
 <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

 <!-- Template Main JS File -->
 <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>
