{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>YandyTech</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/yandyicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/yandyicon.png' %}" rel="apple-touch-icon">
  
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/w3.css' %}" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="{% url 'home' %}"><img src="{% static 'assets/img/yt.png' %}" height="70px" alt=""></a>
      

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="{% url 'home' %}">Home</a></li>
          <li><a class="nav-link scrollto " href="{% url 'about' %}">About</a></li>
          <li><a class="nav-link scrollto" href="#featured-services">Resources</a></li>
          <li><a class="nav-link scrollto" href="{% url 'blog' %}">Blog</a></li>
          <li><a class="nav-link scrollto" href="{% url 'hire' %}">Hire</a></li>
          <li><a class="getstarted scrollto" href="{% url 'support' %}">Support Us</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
<main id="main">
<br>
<br>
  


<section id="team" class="team section-bg">
    <div class="container">

      <div class="section-title">

        <h2 style="color: teal;">Terms and Conditions</h2>
        

        </div>
<div>

    <p style="font-size: 18px;"><b>1.0 General
    </b>
    </p>

    <p style="font-size: 18px;">
        1.1 By proceeding with YandyTech on any matter, it is taken that you have read through, understood and given your consent to be bound by all terms set below.
            </p>

            <p style="font-size: 18px;">

                1.2 These terms shall from time to time be reviewed subject to accruing issues and circumstances which may come into being.

                </p>

        
                <p style="font-size: 18px;">

                    1.3 YandyTech reserves the right to do with these terms as it wishes.

                    </p>


                    <p style="font-size: 18px;"><b>2.0 Specific Terms</b>
                    </p>


                    <p style="font-size: 18px;">

                        2.1 “Donation” means any such money as may be given in contribution to YandyTech to further its objectives.
                        </p>

                        
                    <p style="font-size: 18px;">
                        2.2 “Legal Member” means any young person, man or woman who may at any time become a part of YandyTech Community or team.
                        </p>

                     
                        <p style="font-size: 18px;">
                            2.3 “Volunteer” means any young person, man or woman who may upon successful application begin to offer his/her services to YandyTech at no binding fees.
                            </p>

                            <p style="font-size: 18px;">
                                2.4 “Partner/Donor” means any legal entity that may at any time come in contact with YandyTech for an official purpose.
                                </p>

                                <p style="font-size: 18px;">
                                    2.5 “Agreement” means any legally binding arrangement between YandyTech and a partner/donor for a course.
                                    </p>


                                    <p style="font-size: 18px;"><b>3.0 Donation
                                    </b>
                                    </p>

                                    <p style="font-size: 18px;">
                                        3.1 Donations do not form a contract for future or successive legal relationships or transactions.
                                        </p>

                                        <p style="font-size: 18px;">
                                            3.2 YandyTech reserves the right to use every donation at its discretion, subject to its organisational objectives
                                            </p>


                                       

                                        <p style="font-size: 18px;">
                                            3.3 Any personal details received by YandyTech pursuant to any charitable donation, shall be kept confidential and private
                                            </p>


                                            <p style="font-size: 18px;"><b>4.0 Legal Member

                                            </b>
                                            </p>




                                            <p style="font-size: 18px;">
                                                4.1 A legal member is any young person, man or woman who via YandyTech’s membership application form puts in an application, and upon review of such application is accepted.
                                                </p>


                                                <p style="font-size: 18px;">
                                                    4.2 A legal member shall for the purpose of her membership to any of YandyTech’s platforms, projects or programmes, be subject to all YandyTech’s rules and regulations until at any such time when his/her membership may terminate.
                                                    </p>


                                                    <p style="font-size: 18px;">
                                                        4.3 Where a legal member is assigned a position, she shall, subject to YandyTech’s guidelines for such a position, carry out his/her functions for the sole purpose of furthering YandyTech’s legal objectives.
                                                        </p>



                                                        <p style="font-size: 18px;">
                                                            4.4 A legal member may at any time communicate in writing to YandyTech of her decision to have his/her membership terminated.
                                                            </p>



                                                            




        





                                                            <p style="font-size: 18px;"><b>5.0 Volunteer

                                                            </b>
                                                            </p>
                
                
                
                                                            <p style="font-size: 18px;">
                                                                5.1 A person shall be deemed a volunteer upon a written application and a written confirmation of satisfaction with such application by YandyTech.
                                                                </p>
                
                
                                                                <p style="font-size: 18px;">
                                                                    5.2 YandyTech volunteers are not entitled to salaries.
                                                                    </p>
                
                
                                                                    <p style="font-size: 18px;">
                                                                        5.3 A volunteer’s offer of engagement may be reviewed upon such time as may be agreed by YandyTech and the volunteer.
                                                                        </p>
                
                
                
                                                                       
                                                                  
                                                                       
                                                
                                                                        
                
                
                                                                        

                                                            <p style="font-size: 18px;"><b> 6.0 Partner/Donor

                                                            </b>
                                                            </p>
                
                
                
                                                            <p style="font-size: 18px;">
                                                                6.1 Partnership between YandyTech and any legal entity shall be deemed as commenced upon a written agreement executed by both parties.
                                                                </p>
                
                
                                                                <p style="font-size: 18px;">
                                                                    6.2 A partner/donor who at any time comes into a legal relationship with YandyTech, shall be bound by all YandyTech’s Terms and Conditions.
                                                                    </p>
                
                
                                                                    <p style="font-size: 18px;">
                                                                        6.3 All partners/donors are to the extent of the agreements entered into with YandyTech, bound.
                                                                        </p>
                


                                                                     


                                                                        
                                                                     
                                                                     
                                                                      
                                                                
                                                                        



                
                                                                        

<p style="font-size: 18px;"><b>    7.0 Agreement

</b>
</p>



<p style="font-size: 18px;">
    7.1 All formal partnerships between YandyTech and other legal entities shall be deemed to have commenced ONLY by a written agreement executed by representatives or agents of each party.
    </p>


    <p style="font-size: 18px;">
        7.2 Each party to an agreement shall reserve the right to have in its possession a copy of the executed agreement.
        </p>


        <p style="font-size: 18px;">
            7.3 Disputes arising from any agreement between YandyTech and other legal entities shall be settled amicably.
            </p>

            <p style="font-size: 18px;">
                7.4 Where amicable settlement fails, the matter shall be settled by an independent arbitrator who shall be chosen by the parties in dispute.

                </p>
        
        
                <p style="font-size: 18px;">
                    7.5 Where settlement by an independent arbitrator fails, the matter shall be settled by a court in the State where such issue(s) arose.
                    </p>


                   
                 
                  
                   
                  
                    

                    <p style="font-size: 18px;"><b>   8.0 Confidentiality

                    </b>
                    </p>
                    
                    
                    
                    <p style="font-size: 18px;">
                        8.1 YandyTech holds in high esteem the information of its legal members and partners/donors, and is committed to preserving the same even in the event of a termination of membership or partnership.
                        </p>
                    
                    
                        <p style="font-size: 18px;">
                            8.2 All information collected from legal members or partners/donors shall be handled with privacy, except where a legal member or partner/donor says otherwise.
                    
                            </p>
                    
                    
                            <p style="font-size: 18px;">
                                8.3 Where the information of a legal member or partner/donor is required to be public, YandyTech will specifically request the approval of the legal member or partner/donor before any such information is made public.
                                </p>
                    
                                <p style="font-size: 18px;">
                                    8.4 In a case where a legal member’s or partner’s/donor’s information is already public, YandyTech is not bound to request an approval before further making public such information.
                                    </p>
                            


                                    








                


                                    <p style="font-size: 18px;"><b>   9.0 Limitation of Liability

                                    </b>
                                    </p>
                                    
                                    
                                    
                                    <p style="font-size: 18px;">
                                      9.1 Where a legal member is in contact with any YandyTech partner/donor for a project that will solely benefit his/her, YandyTech is not bound to indemnify the legal member in the event anything goes wrong.
                                        </p>
                                    
                                    
                                        <p style="font-size: 18px;">
                                          9.3 Nothing in this agreement shall exclude or restrict YandyTech’s liability for death or personal injury resulting from the negligence of YandyTech or its agents.

                                            </p>
                                    
                                    
                                            <p style="font-size: 18px;"><b>   Contacting us
                                              

                                            </b>
                                            </p>

                                            <p style="font-size: 18px;">
                                              If you have any questions about this Agreement, please contact us.<br>
                                              info@yandytech.org
                                                </p>
                                    







        
      </div>











   </main>


   <!-- ======= Footer ======= -->
   <footer id="footer">

     <div class="footer-top">


     </div>

     <div class="container footer-bottom clearfix">
       <div class="copyright">
         &copy; Copyright <strong><span>YandyTech</span></strong>. All Rights Reserved
       </div>
       <div class="credits">
         <!-- All the links in the footer should remain intact. -->
         <!-- You can delete the links only if you purchased the pro version. -->
         <!-- Licensing information: https://bootstrapmade.com/license/ -->
         <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/enno-free-simple-bootstrap-template/ -->
       </div>
     </div>
   </footer><!-- End Footer -->


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

 <!-- Vendor JS Files -->
 <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
 <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
 <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
 <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
 <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
 <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

 <!-- Template Main JS File -->
 <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>
